.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: sandybrown;
}

.item  a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {
    display: block;
    color: white;
}